<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Index Page{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Test Task JavaRush</h1>
{% block content %}
{% endblock %}
</body>
</html>